body {
 background-image: url("../images/enlightenment.png");
 background-repeat: no-repeat;
 background-size: 2200px 800px;
}

body {
  background-color: black;
}

body {
  color: white;
  text-align: center;
  font-size: 250%;
}
