<!doctype html>
<html>
  <head>
    <center><title>Date your Literature</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles/stylesheet.css">

  </head>
  <body>
    <p>Enter text from the piece of work you would like to know the date of origin.<p>

    <form action="http://0.0.0.0:5000/result" method="POST">

      <!-- <p>Text:  <input type="text" name="text" /></p> -->
      <center><input id='textboxid' type="text" name="text" /></p>

      <!-- <p><input type="submit" value="submit" /></p> -->
      <center><button type="submit" class="btn btn-secondary">Submit</button>

  </form>
<!--
      <img src="../static/images/books.png" width="1000" height="800" alt="books"> -->



  </body>
</html>
